@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=Big+Shoulders+Display:wght@600;700&family=Commissioner:wght@400;500;700;800&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@300;400&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Manrope:wght@600;800&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Spartan:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========================================================================== */
/*                                     VVV                                    */
/* ========================================================================== */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #674bb1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 90%;
  max-width: 1440px;
  margin: 50px auto;
}

/* ---------------------------------- head ---------------------------------- */
.head {
  align-self: flex-start;
}

/* ---------------------------------- .main --------------------------------- */
.main {
  width: 100%;
  padding: 2rem 0;
  padding-top: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  .img {
    width: 50%;
  }

  .text {
    width: 50%;

    h1 {
      padding-top: 3rem;
      color: white;
      max-width: 22ch;
    }

    p {
      max-width: 55ch;
      color: rgba(255, 255, 255, 0.837);
      padding: 1.5rem 0;
    }

    button {
      padding: 0.7rem 3rem;
      border-radius: 100px;
      background: #e980e7;
      border: none;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.633);
      color: white;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        filter: brightness(90%);
      }
    }
  }
}

.foot {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    font-size: 2rem;
    color: white;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #e980e7;
      border-color: #e980e7;
    }
  }
}

@media screen and (max-width: 767.98px) {
  body {
    background-image: url(../images/bg-mobile.svg);
  }

  /* ---------------------------------- .main --------------------------------- */
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .img {
      width: 100%;
    }

    .text {
      align-self: flex-start;
      width: 100%;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //   background: red;

      h1 {
        padding-top: 0rem;
      }
      button {
        text-align: center;
        width: 40%;
        background: white;
        color: #674bb1;
        min-width: 165px;
      }
    }
  }

  /* ---------------------------------- .foot --------------------------------- */
  .foot {
    padding-top: 2rem;
    align-self: center;
  }
}
